{% extends "layouts/base.html" %}


{% block content %}
<div class="container mx-auto p-4 border-2 border-blue-200">
    <h1 class="text-xl px-1">短網址生成器</h1>
    <form class="flex gap-2" id="url_form">
        {% csrf_token %}

        <div class="grow w-1/2">
            <label for="url" class="label">連結</label>
            {{form.original_url}}
        </div>
        <div class="grow w-1/2">
            <label for="shortUrl" class="label">短網址（可由系統產生，或是自行填寫）</label>
            <div id="short_url_input">
                {% include "shortener/_short_url.html" with short_code_value=form.short_code.value host=host only %}
            </div>
            <div class="py-1">
                <button
                    class="btn btn-xs text-sm rounded-none inline"
                    hx-get="{% url 'shortener:shorten' %}"
                    hx-target="#short_url_input"
                    hx-include="#url_form">
                    生成短網址
                </button>
            </div>
        </div>
    </form>
    <div>
        <label class="label flex justify-start gap-2" for="remark">
            備註說明
            <button class="text-sm px-2 py-1 bg-black text-white">
                <i class="fa-solid fa-cloud-arrow-down"></i>
                取得頁面資訊
            </button>
        </div>
        <textarea class="textarea textarea-bordered w-full rounded-none" name="remark"></textarea>

        <input type="checkbox" name="is_checked"
            value="true" class="cursor-pointer"
            hx-trigger="change"
            hx-post="{% url 'shortener:index' %}"
            hx-swap="none"
            hx-include="#url_form"
        >
        <label for="enable">是否啟用</label>
    </div>
</div>

{% endblock  %}